@import "packages/bootstrap/bootstrap/lib/bootstrap.less";
/* Now use bootstrap and less! */

.title {
    margin: 15px 0px 20px 0;
}

.feed li {
    line-height: 12px;
    font-size: 10px;
    margin-bottom: 2px;
}

.feed li img {
  
}

.app a:hover {
    text-decoration:none;
}

.thumbnail p {
    display: none;
}

.thumbnail .settings {
    position: relative;
    top: 5px;
    left: 2px;
}

.thumbnail {

    opacity:0.6;
    filter:alpha(opacity=60); /* For IE8 and earlier */

}

.thumbnail:hover {
    opacity:1;
    border: 1px solid @linkColor;
    cursor: pointer;
}

.thumbnail i {
    float: right;
    opacity: .3 !important;
}

.thumbnail i:hover {
    float: right;
    border: 1px solid #999;
    opacity: 1 !important;
}

span.brand-colour {
    color: green;
}

ul.gardens {
    margin-left: 30px !important;
}

ul.gardens li {
    font-size: 25px !important;
}

.add-market {
    margin: 20px 0 5px 30px;
}

.new-market {
    display: none;
}


 #garden-navigation {
  z-index: 30000;
  position: absolute;
  top: 3px;
  left: 2px;
  width: 32px;
  height: 32px;
  opacity: .6;
  display: none;
}
