<ul class="breadcrumb">
          <li>
            <a href="#/apps">Apps</a> <span class="divider">/</span>
          </li>
          <li class="active">
            Application Settings
          </li>
        </ul>


                
        <div class="row title">
            <h1>{{app_name}}</h1>
        </div>
        
        <div class="well">
            <h2>Application Info</h2>
            <dl>
                <dt>Installed</dt>
                <dd>1 year ago</dd>
                
                <dt>Installed From</dt>
                <dd><a href="https://garden.iriscouch.com">IrisCouch Garden</a>
                
                <dt>Application Version<dt>
                <dd>1.2</dd>
                
                
                <dt>Database Size</dt>
                <dd>1.2 GB</dd>
                
            </dl>
        </div>       
        

        
        
        
        <div class="row">
            <div class="span5">
                <button class="btn small add-admin">Add</button>
                <h4>Allowed Users/Roles</h4>
                <table class="condensed-table striped-table">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>User/Role</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>User</td>
                      <td>Bob Dob</td>
                      <td><a class="delete">delete</a></td>
                    </tr>
                    <tr>
                      <td>Role</td>
                      <td>AccountingUsers</td>
                      <td><a class="delete">delete</a></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
        
        <h4>Actions</h4>
        <fieldset class="form-actions">
          <button  class="btn" title="Make another instance of this application on your dashboard, with empty data.">Clone</button> 
          <button  class="btn" title="Make another instance of this application on your dashboard, including the data from this instance">Clone With Data</button> 
          <button  class="btn" title="Cleans up old data, reducing the size">Compact</button> 
          <button type="delete" class="btn danger" title="Delete this application">Delete</button>
        </fieldset>        