

<div class="row">
    <ul class="breadcrumb">
      <li>
        <a href="./#/apps">Apps</a> <span class="divider">/</span>
      </li>
      <li class="active">
        Install Application
      </li>
    </ul>
    <h1>Install Application</h1>
</div>


<div class="row install-row">

    {{#if is_auth}}
        <div class="alert-message block-message warning">
            <p><strong>Heads up!</strong> You are being requested to <strong>install</strong> an application. Make sure you trust the information below.</p>
        </div>
        <div class="loading" data-appurl="{{app_url}}">
            Loading installation information...Please wait
        </div>

    {{else}}
        <div class="alert-message block-message warning">
            <p>You need to login as an admin to install this app</p>
        </div>
    {{/if}}
 
</div>
