
{{#each apps}}
<tr class="{{id}}">
    <td>{{value.dashboard_title}} </td>
    <td>{{value.app}}</td>
    <td class="installed-version">{{value.version}}</td>
    <td class="available-version"><img src="static/img/ajax-loader.gif" alt="loading..." /></td>
    <td>
        <div class="update-action" style="display: none;">
            <button class="btn primary update-run-app" data-loading-text="Updating..." data-complete-text="Finished!" data-id="{{id}}">Update</button>
        </div>
    </td>
</tr>
{{/each}}