<div class="row title">
    <h1>Sync</h1>
    Sync from this dashboard to your local windows/mac/linux and mobile iOS/Andriod/Blackberry devices.
</div>

<h3>Win/Mac</h3>
<p>A simple one click to get the garden installed and sync'd to your computer</p>
<button class="btn primary">1-Click Sync</button>


<h3>Other</h3>
<p>Download these pre-packaged application, and on start, enter this url</p>
<div class="one-url"></div>

<ul>
    <li><b>iOS</b> <a href="#">Garden Dashboard App</a> on the Apple Store</li>
    <li><b>Android</b> <a href="#">Garden Dashboard App</a> in the Android Market</li>
</ul>